$imageWidth: 940px;
$imageHeight: 550px;


.detailsBody {
  @include flexColumnCenter();
}

.detailsBottom{
  @include flexColumnCenter();
}


.top {
    border: $devBorder solid green;
}
.explodeWrapper {
  width: $imageWidth;
  height: $imageHeight;
  border: $devBorder solid cyan;
  text-align: center;
  position: relative;



  img {
    border: $devBorder solild red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}
