nav {
    @include flexRowSpaceBetween();
    width:  100%;
    padding-top: $navPaddingTouchTB;
    padding-bottom: $navPaddingTouchTB;
    padding-left: $navPaddingTouchLR;
    padding-right: $navPaddingTouchLR;
    font-size: (var(--fontSizeHello));
    color: black;
    background-color: $colorNavBackground;

    a {
      @include flexColumnCenter();
      border: $devBorder solid red;
      width: $navIconCircleSmall;
      height: $navIconCircleSmall;
      border-radius: 50%;
    }


    .leftSide {
      @include flexRowStartCenter();
      width: 100%;
      border: $devBorder solid black;
      a {
        margin-right: $navPaddingTouchLR;
      }

    }
    .rightSide {
      @include flexRowEnd();
      border: $devBorder solid black;
    }

    .navIcon {
      width: $navIconWidthSmall;
      height: $navIconHeightSmall;
      border: $devBorder solid orange;
    }

    .navText{
      width: 100%;
      padding-left: 5px;
      padding-right: 10px;
      margin-right: 0px;
      vertical-align: center;
      font-size: $fontSizeNavSmall;
      border: $devBorder solid magenta;
      }

      .hidden {
        display: none;
      }

    @media (pointer: fine) {
      a {
        width: $navIconCircle;
        height:$navIconCircle;
        border-radius: 50%;
        border: 2px solid rgba(0,0,0,0);


      }

      .navIcon {
        width: $navIconWidth;
        height: $navIconHeight;
        border: $devBorder solid orange;
      }

      .navText{
        padding-left: $navIconPadding;
        font-size: $fontSizeNav;
      }

      .aboutMe {
        text-align: right;
      }

    }
}


.navArrows {

  .navArrow {
    height: 5vh;
    border: $devBorder solid cyan;
    opacity: 0.95;
    transition-timing-function: ease-in;
    -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;


    &:hover {
      opacity: 0.4;
      transition-timing-function: ease-out;
      -webkit-transition: opacity .2s; /* For Safari 3.1 to 6.0 */
      transition: opacity .2s;
    }
  }

  .left {
    position: fixed;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
  }
  .right {
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translate(0%, -50%);
  }

}

@media (min-width: 1200px) {
  .navArrow {
    display: block;
  }
}
