$fontColor: #333;
$fontSizeTimeLabel: 17px;

.top {
  width: 100%;
  height: 100%;
  @include flexColumnCenter();
  border: $devBorder solid red;
}


.container {
  width: 85%;
  max-width: 1750px;
  height: 85%;
  background-image: url("../images/design/nouTable.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: $devBorder solid cyan;
}



.bottom {
  padding-bottom: 1vh;
  max-width: 85%;
  @include flexColumnCenter();
  border: $devBorder solid green;
  color: $fontColor;
  font-family: 'Montserrat', monospace;

  .description {
    border: $devBorder solid pink;
    font-size: $fontSizeTimeLabel;
    text-align: center;

    .descriptionText {
      font-size: $fontSizeNormal;
      padding-top: .25em;
      border: $devBorder solid pink;
    }

    .descriptionTech {
      font-family: sans-serif;
      font-size: $fontSizeSmall;
      padding-top: .25em;
      color: $textDim;
      border: $devBorder solid pink;
    }
  }
}
