$devBorder: 0px;

$imageWidth: 940px;
$imageHeight: 550px;

$background: white;
$fontColor: #333;

$fontSizeTimeLabel: 17px;
$fontSizeTime: 70px;
$fontSizeVariance: 17px;

$colorNavBackground: white;
$colorHello: #EEE;

$navPaddingTouchTB: 5px;
$navPaddingTouchLR: 5px;

$navIconWidth: 35px;
$navIconHeight: 29px;
$navIconCircle: 39px;

$navPaddingTB: 5px;
$navPaddingLR: 5px;
