@mixin flexColumnTopLeft ()
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flexColumnTopCenter ()
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin flexColumnCenter ()
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexColumnSpaceLeft ()
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flexColumnCenterLeft ()
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin flexRowCenter ()
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flexRowOverflow ()
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

@mixin flexRowSpaceBetween ()
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flexRowSpaceBetweenWrap ()
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@mixin flexRowStart ()
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@mixin flexRowStartCenter ()
{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin flexRowSpaceBetweenCenter()
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@mixin flexRowEnd ()
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
