$devBorder: 0px;

$fontColor: black;
$fontSizeTimeLabel: 17px;
$fontSizeHeader: 24px;
$fontSizeDescription: 16px;

:root {
  --oSize: 70vh;
  --navSize: 100vh;
  --fontSizeHello: 4vh;
}

$mediaWidth1: 700px;
$mediaWidth2: 1100px;
$mediaWidth3: 1200px;

$mediaHeight1: 500px;
$mediaHeight2: 900px;
$mediaHeight3: 1200px;

$navHeight: 64px;
$navPaddingTB: 5px;
$navPaddingLR: 5px;

$navFadeOutSpeed: 0.3s;
$navFadeInSpeed: 0.1s;

$navPaddingTouchTB: 5px;
$navPaddingTouchLR: 5px;
$navIconWidth: 35px;
$navIconHeight: 29px;
$navIconWidthSmall: 28px;
$navIconHeightSmall: 23px;
$navIconCircle: 39px;
$navIconCircleSmall: 29px;
$navIconPadding: 5px;
$navHover: #999;
$navOHeight: 35px;

$contentPaddingSide: 20px;

$circleDiameter: 40px;
$circleThicknessRatio: 2;
$circleRadius: 40%;

$edgePadding: $navPaddingLR;
$edgePadding: 25px;
$edgePaddingLandscape: 50px;

$colorBackground: white;
$background: $colorBackground;
$colorNavBackground: white;

$textFooter: #ccc;
$textNormal: black;
$textBright: #fff;
$textDim: #999;
$textDimmer: #333;

$fontScreenReference: 73vh;
$fontSize: ($fontScreenReference/45);
$fontWeight: 300;
$fontSizeNormal: 1em;
$fontSizeSmall: 0.9em;
$fontSizeNavSmall: 17px;
$fontSizeNav: 25px;

$colorHello: #aaa;

$projectDividingLines: black;

$iconProject: 45%;
$iconProjectHover: $iconProject + 5%;

$fontBioName: 2.5em;
$fontBioStrapline: 1.5em;
$fontBioQualification: 1em;
$fontBioContact: $fontSizeNormal;
$fontBioText: $fontSizeNormal;

$navArrowPadding: 0;

.width10 {
  width: 10%;
}
.width13 {
  width: 13%;
}
.width15 {
  width: 15%;
}
.width20 {
  width: 20%;
}
.width25 {
  width: 25%;
}
.width30 {
  width: 30%;
}
.width40 {
  width: 40%;
}
.width50 {
  width: 50%;
}
.width65 {
  width: 65%;
}
.width75 {
  width: 75%;
}
.width90 {
  width: 90%;
}
.width100 {
  width: 100%;
}
